:root {
  --gray-1: #333333;
  --gray-2: #4f4f4f;
  --light-red: #ff6d5b;

  --primary-text-color: var(--gray-1);
  --secondary-text-color: var(--gray-2);
  --accent-color: var(--light-red);

  --font-heading: "Space Mono", monospace;
  --font-body: "Inconsolata", monospace;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-body);
  color: var(--primary-text-color);
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  padding: 1rem;
}
.header h1 {
  font-family: var(--font-heading);
  font-size: clamp(1rem, 3vw, 1.5rem);
  font-weight: 700;
  text-transform: uppercase;
}

.error-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.error-message h2 {
  max-width: 15ch;
  font-family: var(--font-heading);
  font-size: clamp(2rem, 6vw, 4rem);
  font-weight: 700;
}
.error-message p {
  max-width: 33ch;
  margin: 2rem 0;
  font-size: clamp(1rem, 2vw, 1.5rem);
  line-height: 1.5;
  color: var(--secondary-text-color);
}

.home-link {
  display: inline-block;
  padding: 1.5em 2.5em;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--primary-text-color);
  color: #fff;
  transition: 0.1s ease;
}
.home-link:hover,
.home-link:focus {
  background-color: var(--accent-color);
  transition: 0.3s ease;
}

.footer {
  padding: 0.5rem;
  text-align: center;
}
.footer a {
  text-decoration: none;
  color: var(--primary-text-color);
  transition: color 0.3s ease;
}
.footer a:hover,
.footer a:focus {
  text-decoration: underline;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .error-section {
    flex-direction: row;
    gap: 50px;
  }
  .image-container {
    flex: 1;
  }
  .error-message {
    flex: 1;
  }
}
